body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

/* header */

.header-box {
  border-bottom: 1px solid #e7e9fc;
}

header .container {
  display: flex;
  justify-content: space-between;
}

.header-items {
  display: flex;
}

.menu-box {
  display: flex;
  align-items: center;
}

.menu-items {
  display: flex;
  gap: 40px;
}

.contacts-box {
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu_logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu_logo__decor {
  color: #2e2f42;
}

.menu__item {
  color: #2e2f42;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu__item:hover {
  color: #404bbf;
}

.menu__item:focus {
  text-decoration: underline;
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts__item {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts__item:hover {
  color: #404bbf;
}

.contacts__item:focus {
  color: #404bbf;
}

/* Section 1 -  banner */
.banner {
  background: #2e2f42;
  padding: 188px 0;
}

.banner-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  margin-bottom: 48px;
  max-width: 496px;
}

.btn__ordr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  display: block;
  margin: 0 auto;
}

.btn__ordr:hover,
.btn__ordr:focus {
  background-color: #404bbf;
}

/* Our advantages - section 2 */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-box {
  display: flex;

  padding: 120px 0;
  gap: 24px;
}

.advantages-list {
  width: calc((100% - 72px) / 4);
}

.advantages__item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.advantages__text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Team - section 3 */
.team-section {
  background-color: #f4f4fd;
  width: 100%;
  height: 732px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}

.team__item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team__box {
  display: flex;
  gap: 24px;
}
.team-name {
  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin: 32px 0 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 32px;
}

/* Section 4 - Portfolio */

.portfolio-box {
  display: flex;
  gap: 24px;

  flex-wrap: wrap;
  margin-bottom: 120px;
}

.portfolio-descript {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin: 0 0 8px 0;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */

.footer_logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.footer_logo__decor {
  color: #f4f4fd;
}

.footer-cont {
  background-color: #2e2f42;
  height: 312px;
  padding-top: 100px;
}

.footfer-text {
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  width: 264px;

  margin-top: 16px;
}
