body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

li {
  list-style-type: none;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

/* header */
.menu_logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.menu_logo__decor {
  color: #2e2f42;
}

.menu__item {
  color: #2e2f42;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.menu__item:hover {
  color: #404bbf;
}

.menu__item:focus {
  text-decoration: underline;
  color: #404bbf;
}

.contacts__item {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
}

.contacts__item:hover {
  color: #404bbf;
}

.contacts__item:focus {
  color: #404bbf;
}

/* Section 1 -  banner */
.banner {
  background: #2e2f42;
}
.banner__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
}

.btn__order {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
}

.btn__order:hover {
  background-color: #404bbf;
}

.btn__order:focus {
  background-color: #404bbf;
}

/* Our advantages - section 2 */
.advantages__item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}

.advantages__text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Team - section 3 */
.team-section {
  background-color: #f4f4fd;
}

.team__item {
  background-color: #ffffff;
}

.team-name {
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

/* Section 4 - Portfolio */

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */

.footer_logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.footer_logo__decor {
  color: #f4f4fd;
}

.footer-cont {
  background-color: #2e2f42;
}

.ootfer-text {
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
